<div class="container p-4" style="max-width: 40%">
  <div class="row">
    <div class="border p-4">
      <h3>Login here......</h3>
      <hr />
      <form [formGroup]="loginForm" (ngSubmit)="loginCredentials()">
        <div class="form-group m-2">
          <label for="UserName">User Name: </label>
          <input
            type="text"
            class="form-control"
            id="UserName"
            formControlName="UserName"
            placeholder="Enter username"
            required
            autocomplete="off"
            minlength="3"
            [ngClass]="{ 'is-invalid': formControls.UserName.touched && formControls.UserName.invalid }"
          />
          
          <p *ngIf="isSubmitted && formControls.UserName.errors">
            <!-- Username validation -->
            <span *ngIf="formControls.UserName.errors" style="color: crimson"
              >Username is required!</span>
          </p>
        </div>
        <div class="form-group m-2">
          <label for="UserPassword">Password:</label>
          <input
            type="password"
            class="form-control"
            id="UserPassword"
            formControlName="UserPassword"
            placeholder="Enter Password"
            required
            autocomplete="off"
            minlength="3"
            [ngClass]="{ 'is-invalid': formControls.UserPassword.touched && formControls.UserPassword.invalid }"

          />
          <div *ngIf="isSubmitted && formControls.UserPassword.errors">
            <!-- Password validation -->
            <span *ngIf="formControls.UserPassword.errors" style="color: crimson"
              >Password is required!</span
            >
            <p *ngIf="formControls.UserPassword.errors.minlength" style="color: crimson"
              >Password must be at least 6 characters!</p>
          </div>
        </div>
        <button class="btn btn-outline-primary btn-lg m-3">Login</button>
        <div *ngIf="error" style="color: crimson">
          <span>{{ error }}</span>
        </div>
      </form>
    </div>
  </div>
</div>
